@import "../../EmpresarialColors.scss";

.navegation-history-form{
    font-weight: 500;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.navegation-history-form > span{
    padding-bottom: 1px;
    border-bottom: 2px solid black;    
    margin-right: 5px;
    margin-left: 5px;
}

.navegation-history-form > span:first-child{
    margin-right: 5px;
    margin-left: 0px;
}

#Formulario2{
    border: 1px solid $Neutral_Normal;
    -webkit-box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
}

#Formulario2 > h2{
    font-weight: 800;
    color: $Primary_Normal;
    margin-top: 5vh;
    margin-bottom: 4vh;
    text-align: center;
}

#Formulario2 > div{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 4vh;
}

#Formulario2 > div > label{
    font-weight: 600;
}

.form-check {
    margin-top: 2vh;
}

.checkbox{
    border-radius: 1px !important;
}

.form-check > label{
    font-weight: 500;
}

#input-descripcion{
    height: 15vh;
}

#btn-formulario2{
    display: flex;
    justify-content: center;
}

#btn-form2{
    margin-top: 4vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.1);
    background-color: $Secondary_Normal;
    color: $Primary_Dark;
    font-weight: 700;
    padding: 1.5vh 0vw;
    width: 50%;
    text-decoration: none;
    text-align: center;
    font-size: 120%;
}