@import "../../EmpresarialColors.scss";

.modal {
    position: fixed;
    margin:0;
    width:100%;
    height:100%;
    left:0;
    top:0vw;
    background-color: rgba(0,0,0,0.6);
    display: flex;
}

.modal-header{
    display: flex;
    flex-direction: row-reverse;   
}

.btn-close{
    background-color: $SE_Normal;
    border: 2px solid $SE_Dark;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bolder;
    padding: 2% 5%;

}

@media only screen and (max-width: 500px) {
    .modal-body {
        background-color: whitesmoke;
        width:70%;
        margin: 40vh auto;
        min-height:40%;
        border-radius:15px;
        padding:1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        
    }
}

@media only screen and (min-width: 501px) {
    .modal-body {
        background-color: whitesmoke;
        width:50%;
        margin: 15vh auto;
        border-radius:15px;
        padding:1rem;
        height:40vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

@media only screen and (min-width: 900px) {
    .modal-body {
        width: 30%;
        height:50vh;
    }

    .btn-close{
        padding: 1.5% 7%;
    }
}
