.coverIcon {
  align-self: stretch;
  height: 244.5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.creaJabonesArtesanos {
  height: 50px;
  flex: 1;
  position: relative;
  line-height: 140%;
  display: flex;
  align-items: center;
}
.title {
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 21px 0 0;
  opacity: 0.8;
  color: #07124b;
}
.date,
.martesYJueves,
.title {
  align-self: stretch;
  display: flex;
}
.martesYJueves {
  height: 16px;
  position: relative;
  line-height: 160%;
  align-items: center;
  white-space: nowrap;
}
.date {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.8;
}
.publicGlobeIcon {
  height: 32.6px;
  width: 32.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.noPublicada {
  position: relative;
  line-height: 16px;
}
.activityStatus,
.publicIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.activityStatus {
  flex: 1;
  border-right: 1.4px solid #4f4f4f;
  justify-content: flex-start;
  padding: 24.6px 21px;
  z-index: 1;
}
.publicIconContainer {
  width: 254px;
  justify-content: space-between;
}
.moreHorizIcon {
  height: 32.6px;
  width: 32.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.moreOptions,
.publicStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.moreOptions {
  justify-content: center;
  padding: 0 19px;
}
.publicStatus {
  align-self: stretch;
  overflow: hidden;
  justify-content: space-between;
  gap: 12.22px;
}
.cardActivity,
.content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 21.7px 21px 21.8px;
  gap: 32.6px;
}
.cardActivity {
  flex: 1;
  box-shadow: 0 34px 67.91px -16.3px rgba(7, 18, 75, 0.12);
  border-radius: 10.87px;
  background-color: #fcfcfc;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 247px;
  max-width: 100%;
  text-align: left;
  font-size: 24.4px;
  color: #212121;
  font-family: "Atkinson Hyperlegible";
}
@media screen and (max-width: 450px) {
  .creaJabonesArtesanos {
    font-size: 20px;
    line-height: 27px;
  }
  .martesYJueves,
  .noPublicada {
    font-size: 20px;
    line-height: 31px;
  }
  .noPublicada {
    line-height: 27px;
  }
  .publicStatus {
    flex-wrap: wrap;
  }
  .content {
    gap: 16px;
  }
}
