.voice-message {
  width: 318.6px; /* 354px * 0.9 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.card-items,
.card-items1 {
  height: 290px; /* 322.2px * 0.9 */
  width: 318.6px; /* 354px * 0.9 */
  position: relative;
  max-width: 100%;
}

.cards {
  width: 595.8px; /* 662px * 0.9 */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  text-align: center;
  font-size: 21.6px; /* 24px * 0.9 */
  color: #000;
  font-family: Montserrat;
}

@media screen and (max-width: 1300px) {
  .cards {
    flex-wrap: wrap;
  }
}
