/* Estilos específicos para .pioneers-description-child */
.pioneers-description .pioneers-description-child {
  width: 1000px;
  height: 679px;
  position: relative;
  background: linear-gradient(180deg, #fff, #050e3c 88.09%);
  display: none;
  max-width: 80%;
}

/* Estilos específicos para .para-personas-senior y .somos-pioneros-en */
.pioneers-description .para-personas-senior,
.pioneers-description .somos-pioneros-en {
  margin: 0;
}

/* Estilos específicos para .somos-pioneros-en-container */
.pioneers-description .somos-pioneros-en-container {
  margin: 0;
  display: flex;
  align-self: center;
  font-size: inherit;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
  z-index: 2;
}

/* Estilos específicos para .somos-pioneros-en-desarrollar-wrapper */
.pioneers-description .somos-pioneros-en-desarrollar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 24px;
  box-sizing: border-box;
  max-width: 100%;
}

/* Estilos específicos para .descubre-nuestra-plataforma */
.pioneers-description .descubre-nuestra-plataforma {
  margin: 0;
}

/* Estilos específicos para .descubre-nuestra-plataforma-container */
.pioneers-description .descubre-nuestra-plataforma-container {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.01em;
  display: inline-block;
  color: #fff;
  max-width: 100%;
  z-index: 2;
}

/* Estilos específicos para .pioneers-description */
.pioneers-description {
  align-self: stretch;
  background: linear-gradient(180deg, #fff, #050e3c 40.09%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 20px 57px;
  box-sizing: border-box;
  gap: 54px;
  max-width: 100%;
  z-index: 1;
}

/* Estilos específicos para .pioneers-button-child */
.pioneers-button .pioneers-button-child {
  height: 274px;
  width: 1440px;
  position: relative;
  background-color: #080912;
  display: none;
  max-width: 100%;
}

/* Estilos específicos para .link-text18 */
.pioneers-button .link-text18 {
  height: 42px;
  flex: 1;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-family: Montserrat;
  color: #091864;
  text-align: center;
  display: inline-block;
}

/* Estilos específicos para .button-hero-primary2 */
.pioneers-button .button-hero-primary2 {
  cursor: pointer;
  border: 0;
  padding: 21px 63px;
  background-color: #f8a800;
  width: 316px;
  box-shadow: 0 4px 4px #000;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 4;
}

.pioneers-button .button-hero-primary2:hover {
  background-color: #c47500;
}

/* Estilos específicos para .pioneers-button y .pioneers-description-parent */
.pioneers-button,
.pioneers-description-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.pioneers-button {
  background-color: #080912;
  flex-direction: row;
  justify-content: center;
  padding: 107px 20px 83px;
  box-sizing: border-box;
  z-index: 3;
  margin-top: -120px;
}

.pioneers-description-parent {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: 36px;
  color: #ba7e00;
  font-family: Montserrat;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 1125px) {
  .pioneers-description {
    padding-top: 390px;
    padding-bottom: 57px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 800px) {
  .pioneers-description .somos-pioneros-en-container {
    font-size: 29px;
    line-height: 32px;
  }
  .pioneers-description {
    gap: 27px;
  }
}

@media screen and (max-width: 450px) {
  .pioneers-description .somos-pioneros-en-container {
    font-size: 22px;
    line-height: 24px;
  }
  .pioneers-description .descubre-nuestra-plataforma-container {
    font-size: 19px;
  }
  .pioneers-description {
    padding-top: 253px;
    padding-bottom: 37px;
    box-sizing: border-box;
  }
  .pioneers-button .button-hero-primary2 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
