.image4Icon {
  position: absolute;
  height: 101.92%;
  width: 92.96%;
  top: 0;
  right: 7.04%;
  bottom: -1.92%;
  left: 0;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image4 {
  height: 208px;
  width: 442px;
  position: absolute;
  margin: 0 !important;
  top: -197.9px;
  right: -341px;
  border-radius: 18px;
  z-index: 1;
}
