#cuerpo-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 82.64vw;
    margin-left: 8.68vw; 
    
}

.navegation-history{
    font-weight: 500;
}

.navegation-history > span{
    padding-bottom: 1px;
    border-bottom: 2px solid black;
}

.navegation-history > span:first-child{
    margin-right: 5px;
    margin-left: 0px;
}

.navegation-history > span{
    margin-right: 5px;
    margin-left: 5px;
}

.formContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  
  .formTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(9, 24, 100);
  }
  
  .sectionTitle {
    background-color: #FEF2D9;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .formInput,
  .formSelect,
  .formTextarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .formTextarea {
    height: 100px;
    resize: vertical;
  }
  
  .formFileInput {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Para mejorar la apariencia en algunos navegadores */
  .formFileInput::file-selector-button {
    background-color: #FEF2D9;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .formHint {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
  }
  
  .dateInputs {
    display: flex;
    gap: 10px;
  }
  
  .dateInput {
    flex: 1;
  }
  
  .formSubmit {
    background-color: #ffc107;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .formSubmit:hover {
    background-color: #ffca28;
  }

  .dateGroup {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Ajusta este valor para controlar el espacio entre las fechas */
  }
  
  .dateField {
    flex: 1;
  }
  
  .formLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .error{
    color: red;
    padding: 5px;
  }
  .alert alert-success {
    color: green
}
