@import "../../EmpresarialColors.scss";

.register-login {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-login h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

#Welcome {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.yellow{
  color:#F8A800;
}
.register-login form {
  width: 50%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.register-login label {
  color: #212121;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.register-login input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-login button {
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

#btn-enter {
  background-color: #F8A800;
  border-radius: 8px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color:#091864;
}

#btn-change {
  background-color: transparent;
  color: #091864;
  text-decoration: underline;
  padding: 0;
  margin: 15px auto 0;
  display: block;
  text-align: center;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 5px;
  color: #000;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}

.checkbox-container label {
  font-size: 14px;
  font-size: 16px;
  color: #000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.help-text {
  text-align: center;

  margin-top: 20px;
  color: #000;

text-align: center;
/* Body/Small/300 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.password-input-container {
  position: relative;
  display: flex;
  align-items: center;

  .lock-icon {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #ccc;
  }

  input[type="password"],
  input[type="text"] {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .toggle-password {
    position: absolute;
    top: -10px;
    right: -5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ccc;

    &:focus {
      outline: none;
    }
  }
}