@import "../../EmpresarialColors.scss";

*{
    font-family: "Montserrat", sans-serif;
}

#cursos-talleres{
    color: rgb(0,0,0);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#card-list{
   width: 82.78vw; 
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8.61vw;
}

.card{
    width: 19.44vw;
    margin-bottom: 8vh;
    display: flex;
    border-radius: 10px;
}

.seccion1{
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3vh 1vw;
}


.seccion1 > h2{
    font-size: 18px;
    font-weight: bold;
    color: rgb(9,24,100);
}    

.seccion1 > p{
    border: 4px solid $SE_Normal;
    padding: 5% 2%;
    border-radius: 50%;
    font-weight: bolder;
    margin-bottom: 0px;
}


.seccion2{
    align-self: start;
    margin-left: 1vw;
    font-weight: 500;
    margin-top: 0px;
}

.seccion3{
    align-self: center;
    font-weight: 500;
}

.seccion3  span{
    font-weight: bold;
}

.ver-mas{
    background-color: rgb(9,24,100);
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.gris{
    color: $Neutral_Dark;
}