@import "../../EmpresarialColors.scss";

*{
    font-family: "Montserrat", sans-serif;
}

#Banner{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#cursos-talleres{
    color: $Primary_Normal;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    margin-top: 10vh;
    margin-bottom: 10vh;

}

#card-list{
   width: 70.07vw; 
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15vw;
    
}

#btn-create{
    margin-left: 2.5vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cursos-compromiso{
    width: 82.01vw;
    margin-left: 8.995vw;
    font-weight: 400;
    font-size: 130%;
    
}

.cursos-beneficios{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 100%;
}

.cursos-beneficios p{
    margin: 0px;
    font-weight: 400;
    font-size: 130%;
}

.cursos-beneficios li{
    margin: 0px;
    font-weight: 400;
    font-size: 120%;
}

.iconUser{
    height: 75%;
    margin-top: -5px;
}