@import "../../../EmpresarialColors.scss";

.card-proyecto {
    width: 18vw; // Ajuste del ancho para reducir el tamaño
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px $Neutral_Dark;
    -webkit-box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.1);
    background-color: $Secondary_Normal;
    margin: 1rem; // Añadido margen para espaciado entre tarjetas
}

.card-proyecto img {
    border-radius: 8px 8px 0px 0px;
    margin: 0px;
    padding: 0px;
}

.card-proyecto > div {
    margin: 0px;
    width: 100%;
    background-color: white;
}

.seccion1-proyecto {
    align-self: start;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 2vh 1vw; // Ajuste de los márgenes
}

.seccion1-proyecto > h2 {
    font-size: 16px; // Ajuste del tamaño de fuente
    font-weight: bold;
    color: rgb(9,24,100);
    margin: 0px;
}    

.seccion1-proyecto > p {
    border-top: 4px solid $SI_Normal_Active;
    border-right: 4px solid white;
    border-left: 4px solid $SI_Normal_Active;
    border-bottom: 4px solid $SI_Normal_Active;
    padding: 4% 5%; // Ajuste del padding
    border-radius: 50%;
    font-weight: bolder;
    margin-bottom: -20px; // Ajuste del margen inferior
}

.seccion2-proyecto {
    align-self: start;
    margin-left: 1vw;
    font-weight: 500;
    margin-top: 0px;
}

.seccion3-proyecto {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    box-sizing: content-box;
}

p.test2 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.seccion3-proyecto  span {
    font-weight: bold;
}

.ver-proyecto {
    height: 6vh;
    background-color: $Secondary_Normal;
    color: $Primary_Dark;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ver-proyecto:hover {
    cursor: pointer;
}

.gris {
    color: $Neutral_Dark;
}

/* Flex container for the cards */
.projectsGrid {
    display: flex;
    flex-wrap: wrap; // Permite que las tarjetas se envuelvan si no caben en una fila
    justify-content: space-between; // Añade espacio entre las tarjetas
}
