.navbar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
}

.navbar__logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

.navbar__logo {
  width: 180px;
  height: auto;
}

.navbar__menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5rem 0;
}

.navbar__nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar__link {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
}

.navbar__link:hover {
  color: #000000;
  text-decoration: underline;
}

.navbar__item {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdown__item {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.dropdown__item:hover {
  background-color: #b5b5b5;
}

.navbar__user-icon {
  width: 30px;
  height: 30px;
}

/* ANCHURAS DE LOS SUBMENUS */

.anchura1 {
  width: 200px;
  max-width: 200;
}

.anchura2 {
  width: 100px;
  max-width: 100;
}

.navbar__link.active {
  color: #BA7E00; /* Cambia el color del texto */
  /* Otros estilos adicionales según tus preferencias */
}

/* Estilos específicos para el ícono de usuario activo */
.navbar__user-icon.active {
  border: 2px solid #333; /* Ejemplo de borde para resaltar */
}