.navbar {
  width: 100% !important;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0.5rem 0px;
}

.navbar__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 0.5rem 0;
}

.navbar__logo {
  width: 180px;
  height: auto;
  margin-top: 1vh;
  margin-left: 5vw;
}

.navbar__logo-container > p{
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  margin-top: 1vh;
  margin-right: 10vw;
}

.navbar__menu-bar {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5rem 0;
}

.navbar__nav {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-right: 10vw;
}

.navbar__link {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

.navbar__link:hover {
  color: #000000;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;
}

.navbar__item {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;

}

.dropdown__item {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;

}

.dropdown__item:hover {
  background-color: #b5b5b5;
}

.navbar__user-icon {
  width: 30px;
  height: 30px;
}

/* ANCHURAS DE LOS SUBMENUS */

.anchura1 {
  width: 200px;
  max-width: 200;
}

.anchura2 {
  width: 100px;
  max-width: 100;
}

.navbar__link.active {
  color: #BA7E00; /* Cambia el color del texto */
  /* Otros estilos adicionales según tus preferencias */
}

/* Estilos específicos para el ícono de usuario activo */
.navbar__user-icon.active {
  border: 2px solid #333; /* Ejemplo de borde para resaltar */
}

/* barra de  navegacion*/

#searchBar{
  width: 60vw;
  margin-top: 4vh;
}

#searchBar > form > *{
  border: 1px solid #000000;
}