@import "../../EmpresarialColors.scss";

.create-spaghetti{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-create-sp{
    background-color: $SI_Normal;
    border: 2px solid $SI_Dark;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bolder;
    padding: 2% 5%;
    margin-top: 3vh;
    height: 5vh;
}

