@import "../../EmpresarialColors.scss";

#eventos-title{
    color: $Primary_Normal;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 10vh;
}

#eventos-p-title{
    color: $Primary_Normal;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 6vh;
}

.eventos-list{
    width: 70.07vw; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15vw;
}

.separacion{
    margin-bottom: 30vh;
}