.link-text1 {
  position: relative;
  line-height: 12px;
  display: inline-block;
  min-width: 47px;
  cursor: pointer;
}
.link-text,
.link-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-text-wrapper {
  flex-direction: column;
  padding: 18px 0 0;
}
.link-text2 {
  height: 12px;
  position: relative;
  line-height: 160%;
  display: inline-block;
}
.link-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.expand-more-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.link-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 8px;
  box-sizing: border-box;
  gap: 8px;
  min-width: 162px;
}
.link-text3 {
  height: 12px;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 73px;
}
.link-text-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.expand-more-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  flex-direction: row;
  gap: 8px;
}
.frame-wrapper {
  flex-direction: column;
  padding: 12px 0 0;
}
.link-text4 {
  height: 12px;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 78px;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.expand-more-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
}
.link-menu1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 8px;
  gap: 8px;
}
.link-text5 {
  height: 12px;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
}
.link-text-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.expand-more-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
}
.frame-container,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  flex-direction: row;
  gap: 8px;
}
.frame-container {
  flex-direction: column;
  padding: 12px 0 0;
}
.account-circle-icon {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-text6 {
  position: relative;
  line-height: 12px;
  display: inline-block;
  min-width: 102px;
}
.link-menu2,
.link-text-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link-menu2 {
  padding: 6px 8px;
  gap: 8px;
}
.expand-more-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
}
.link-menu-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.content,
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}
.content {
  width: 1099px;
  justify-content: flex-end;
  padding: 0 48px;
  box-sizing: border-box;
}
.search-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.link-text7 {
  height: 12px;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 54px;
}
.link-menu3 {
  border-radius: 8px;
  border: 1px solid #091864;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 887px 0 7px;
  gap: 8px;
  max-width: 111%;
  flex-shrink: 0;
}
.link-menu-wrapper {
  width: 913px;
  padding: 0;
  box-sizing: border-box;
}
.frame-wrapper1,
.link-menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.filtros {
  align-self: stretch;
  height: 44px;
  display: none;
}
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.header-login-parent,
.secodary-menu {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.secodary-menu {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 24px 20px;
  color: #4f4f4f;
}
.header-login-parent {
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 256.6px;
  gap: 13.1px;
  text-align: center;
  font-size: 18px;
  color: #212121;
  font-family: "Atkinson Hyperlegible";
}
.chat-box,
.vector-icon {
  position: absolute;
  z-index: 2;
}
.vector-icon {
  height: 2.21%;
  width: 6.36%;
  top: 93.4%;
  right: 9.66%;
  bottom: 4.4%;
  left: 83.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.chat-box {
  top: 0;
  left: 1046px;
  width: 291px;
  height: 484.5px;
}
.frame-section {
  align-self: stretch;
  height: 813px;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-parent3,
.inicio-child,
.inicio-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 101px;
}
.inicio-child,
.inicio-inner {
  flex-direction: row;
  box-sizing: border-box;
}
.inicio-inner {
  width: 1379px;
  justify-content: flex-end;
  padding: 0 28px 143.8px;
}
.inicio-child {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px 174px;
}
.cualquier-tecnologa-no,
.y-un-software {
  margin: 0;
}
.cualquier-tecnologa-no-container {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.link-text8 {
  height: 40px;
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.button-hero-primary {
  width: 424px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13.33px;
  background-color: #f8a800;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 60px;
  box-sizing: border-box;
}
.button-hero-primary,
.technology-button,
.technology-description {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.technology-button {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 20px;
  color: #091864;
}
.technology-description {
  width: 1196px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 49px;
}
.technology-description-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 220px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 34.5px;
  color: #000;
  font-family: Montserrat;
}
.image-18-icon,
.screen-shot-2024-07-03-at-154 {
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.image-18-icon {
  margin-right: -8px;
  margin-bottom: 446.6px;
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.screen-shot-2024-07-03-at-154 {
  margin-right: -56px;
  margin-bottom: 146.6px;
  width: 1553px;
  max-width: 108%;
}
.footer-top-icon {
  width: 258px;
  height: 65px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.help-title,
.text,
.text1 {
  position: relative;
  line-height: 26px;
}
.help-title {
  display: inline-block;
  min-width: 52px;
}
.text,
.text1 {
  text-decoration: underline;
}
.text1 {
  height: 11px;
  line-height: 160%;
  display: flex;
  align-items: center;
  min-width: 118px;
}
.help,
.sub-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.sub-links {
  gap: 21px;
  font-size: 16px;
}
.help {
  gap: 17px;
  min-width: 154px;
}
.contact-title {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  text-align: left;
  min-width: 76px;
}
.svg-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.infosilvertechcom {
  position: relative;
  line-height: 11px;
  white-space: nowrap;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.div,
.svg-icon1 {
  position: relative;
}
.svg-icon1 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  line-height: 11px;
  white-space: nowrap;
}
.contact-links,
.link1 {
  display: flex;
  align-items: center;
}
.link1 {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 0 6px;
  gap: 8px;
}
.contact-links {
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.text2 {
  width: 99px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: none;
}
.vector-icon1 {
  height: 25px;
  width: 25px;
  position: relative;
}
.social-media-placeholder {
  height: 32px;
  width: 32px;
  position: relative;
}
.social-media-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.contact,
.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media {
  align-self: stretch;
  gap: 16px;
  color: #363636;
  font-family: Inter;
}
.contact {
  width: 185px;
  gap: 17px;
  min-width: 185px;
  text-align: right;
  font-size: 16px;
}
.footer-links {
  width: 419px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.footer-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.seniority-2023 {
  position: relative;
  line-height: 11px;
  display: inline-block;
  min-width: 121px;
}
.link2,
.link3,
.link4 {
  position: relative;
  text-decoration: underline;
  line-height: 11px;
}
.copyright,
.footer-big,
.inicio {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.copyright {
  flex-direction: row;
  align-items: center;
  padding: 18.5px 0;
  gap: 36px;
  max-width: 100%;
  font-size: 16px;
}
.footer-big,
.inicio {
  flex-direction: column;
}
.footer-big {
  align-self: stretch;
  background-color: #050e3c;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 36px;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: #fcfcfc;
  font-family: "Atkinson Hyperlegible";
}
.inicio {
  width: 100%;
  position: relative;
  background-color: #fcfcfc;
  overflow-y: auto;
  align-items: flex-end;
  padding: 0 0 495px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .frame-section {
    height: auto;
    min-height: 813;
  }
}
@media screen and (max-width: 1125px) {
  .content {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .link-menu3 {
    flex-wrap: wrap;
    padding-right: 443px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent {
    gap: 16px;
  }
  .link-menu3 {
    padding-right: 221px;
    box-sizing: border-box;
  }
  .header-login-parent {
    padding-bottom: 167px;
    box-sizing: border-box;
  }
  .frame-parent3 {
    gap: 50px;
  }
  .inicio-inner {
    padding-bottom: 93px;
    box-sizing: border-box;
  }
  .cualquier-tecnologa-no-container {
    font-size: 28px;
  }
  .technology-description {
    gap: 24px;
  }
  .technology-description-wrapper {
    padding-bottom: 143px;
    box-sizing: border-box;
  }
  .copyright {
    flex-wrap: wrap;
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .link-menu3 {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frame-parent3 {
    gap: 25px;
  }
  .inicio-child {
    padding-bottom: 113px;
    box-sizing: border-box;
  }
  .cualquier-tecnologa-no-container {
    font-size: 21px;
  }
  .link-text8 {
    font-size: 16px;
    line-height: 19px;
  }
  .button-hero-primary {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .contact,
  .help {
    flex: 1;
  }
  .footer-links {
    flex-wrap: wrap;
  }
}

