@import "../Colors.scss";

// Vista para Moviles

@media only screen and (max-width: 500px) {
  
}

// Vista para computadoras

@media only screen and (min-width: 900px) {
 
}


.conteiner {
    width: 1440px;
    margin: 0 auto;
    padding: 40px 40px;
    box-sizing: border-box;}