@import "../../EmpresarialColors.scss";

footer{
  margin-top: 20vh;
}

* {
  font-family: "Montserrat", sans-serif;
}
.hero {
  width: 100%;
  background-color: #FFF8E1; // Light yellow background
  // padding: 40px 0;
  position: relative;
  overflow: hidden;
}

.hero-content {
  display: flex;
  max-width: 1440px;
  padding: 0 0 0 40px;
  margin: 0 auto;
  align-items: center;
}

.text-content {
  flex: 1;
  padding-right: 40px;

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;

   
    .highlightSilver{
      color: #F8A800
    }
    .highlight{
      color: #656565
  }
  }

  p {
    color: var(--Primario-Normal, #091864);
  
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.11px;
  }
}

.image-content {
  flex: 1;
  position: relative;

  img {
    width: 118%;
    display: block;
    height: auto;
    border-radius: 1200px 1200px 0 1200px;
    object-fit: cover;
    overflow: hidden;
  }


  
}

.filters {
  display: flex;
  justify-content: flex-start; // змінено з center на flex-start
  max-width: 1074px; // додано максимальну ширину
  margin: 20px auto; // змінено margin для центрування
  padding: 0 20px; // додано відступи з боків
  
  
  button {
    border-radius: 100px;
    background-color: #FDE4B0;;
    color: #091864;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    &:hover {
      border-radius: 100px;
      background-color: #F8A800;;
      color: #091864;
    }
  }
}



.create-post-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%; 
  max-width: 1074px; 
  padding: 40px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    
    button {
      background-color:  #F8A800;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      
      &:hover {
        background-color:  #F8A800;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        opacity: 0.8;
      }
      
      &.cancel-button {
        background-color:  #F8A800;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &:hover {
          background-color:  #F8A800;
          border-radius: 8px;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          opacity: 0.8;
        }
      }
    }
  }
}


// Post list
.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style-type: none;
  
  .post-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1074px;
    padding: 40px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #1a2238;
    }
    .post-author {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      color:  #000000;
      margin-bottom: 10px;
    }
    .post-date {
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      color: #808080;
    }
    .post-title {
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
    }
    .post-text {
      font-size: 14px;
      color: #555;
      margin-bottom: 10px;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      flex-grow: 1;
    }

    .post-comments {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 12px;
      color: #888;
      margin: 0;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;

  
    }
    
    p {
      font-size: 12px;
      color: #888;
      margin: 5px 0;
    }
    
    .icon-dots {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      
      &:hover {
        color: darken(#1a2238, 10%);
      }
    }
    
    .post-actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      position: relative; 
      
      .edit-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        input, textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 4px;
        }
        
        .button-group {
          display: flex;
          gap: 10px;
          
          button {
            background-color:  #F8A800;
            border-radius: 8px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            
            &:hover {
              background-color:  #F8A800;
              border-radius: 8px;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              opacity: 0.8;
            }
            
            &.cancel-button {
              background-color: #ccc;
              color: #333;
              
              &:hover {
                background-color: darken(#ccc, 10%);
              }
            }
          }
        }
      }
      
      .delete-button {
        align-self: flex-start;
        background-color:  #F8A800;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: white;
        border: none;
        padding: 5px 10px;
        position: absolute; 
        top: 135px; 
        right: 10px;
   
        cursor: pointer;
        
        &:hover {
          background-color:  #F8A800;
          border-radius: 8px;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          opacity: 0.8;
        }
      }
    }
  }
}