.headerLoginParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.descripcin,
.loremIpsumDolor {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.descripcin {
  align-self: stretch;
  line-height: 40px;
  font-weight: 800;
}
.loremIpsumDolor {
  flex: 1;
  line-height: 32px;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.descriptionContainer,
.loremIpsumDolorSitAmetCoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.loremIpsumDolorSitAmetCoWrapper {
  align-self: stretch;
  border: 1px solid var(--neutral-dark);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xl) 19px var(--padding-xl) var(--padding-xl);
  text-align: left;
  font-size: var(--heading-01-size);
  color: var(--color-black);
}
.descriptionContainer {
  width: 1232px;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.frameParent,
.profileDescription {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.profileDescription {
  width: 1404px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 27.4px;
  text-align: center;
  font-size: var(--display-01-size);
  color: var(--neutral-texto);
  font-family: var(--botn-regular);
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi);
  gap: 32.6px;
  flex-shrink: 0;
}
.comienzaUnProyecto,
.tienesUnaIdea {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.tienesUnaIdea {
  width: 436px;
  letter-spacing: 0.02em;
  line-height: 35px;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  min-width: 436px;
  max-width: 100%;
}
.comienzaUnProyecto {
  align-self: stretch;
  letter-spacing: 0.01em;
  font-weight: 700;
}
.createProjectLink {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.buttonCrearCuenta {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: #f8a800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  white-space: nowrap;
  cursor: pointer;
  font-size: var(--botn-regular-size);
}
.projectCallToAction,
.projectProposal {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.projectProposal {
  width: 406px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-width: 406px;
  font-size: var(--heading-01-size);
}
.projectCallToAction {
  align-self: stretch;
  background-color: #fef2d9;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 230px;
  box-sizing: border-box;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.perfilEmpresa {
  width: 100%;
  height: 2886px;
  position: relative;
  background-color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.3px 0 433px;
  box-sizing: border-box;
  gap: 92px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--display-02-size);
  color: var(--primario-normal);
  font-family: var(--botn-regular);
}
@media screen and (max-width: 1325px) {
  .projectProposal,
  .tienesUnaIdea {
    flex: 1;
  }
  .projectCallToAction {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .projectProposal,
  .tienesUnaIdea {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .descripcin {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .loremIpsumDolorSitAmetCoWrapper {
    gap: var(--gap-mid);
  }
  .descriptionContainer {
    gap: var(--gap-6xl);
  }
  .frameParent {
    gap: var(--gap-base);
  }
  .tienesUnaIdea {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .projectCallToAction {
    padding-left: var(--padding-96xl);
    padding-right: var(--padding-96xl);
    box-sizing: border-box;
  }
  .perfilEmpresa {
    height: auto;
    gap: 46px;
  }
}
@media screen and (max-width: 450px) {
  .descripcin {
    font-size: var(--subheading-01-size);
    line-height: 24px;
  }
  .loremIpsumDolor {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .tienesUnaIdea {
    line-height: 21px;
  }
  .comienzaUnProyecto,
  .tienesUnaIdea {
    font-size: var(--font-size-lgi);
  }
  .projectCallToAction {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .perfilEmpresa {
    gap: 23px;
  }
}
