@import "../../EmpresarialColors.scss";

.card-evento{
    width: 30vw;
    border-radius: 10px;
    border: solid 1px $Neutral_Dark;
    -webkit-box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.1);

    margin-bottom: 10vh;
}

.card-evento > img{
    border-radius: 8px 8px 0px 0px;
}

.card-evento > h2{
    font-size: 150%;
    font-weight: bold;
    color: rgb(9,24,100);
    margin-top: 2vh;
    margin-left: 2vw;
}

.evento-contenido{
    text-align: start;
    margin-left: 5vw;
    font-size: 110%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}

.evento-contenido > p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100%;
    color: $Neutral_Darker;
}

.evento-contenido > p:first-of-type{
    font-size: 120%;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.evento-contenido > div{
    font-size: 110%;
    margin-top: 2vh;
    color: $Neutral_Darker;
}

.evento-detalles{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: $Secondary_Normal;    
    padding: 2vh 0px 2vh 0px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 4vh;
}

.evento-detalles > *{
    text-decoration: none;
    font-size: 130%;
    font-weight: bold;
    color: $Primary_Dark;
    
}

.evento-detalles:hover{
    cursor: pointer;
}